/* Base Rules */
*{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
}

p{
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	line-height: 30px;
	color: #6c757d;
}

.r-p{
	padding-top: 80px;
	padding-bottom: 80px;
}

.bg-sec{
	background: #F8F9FA;
	margin-top: 0;
}

.r-btn{
	padding: 5px 20px;
	background-color: #EE8683 !important;
	color: #fff !important;
}

/* Navigation */

nav.r-nav{
	background: transparent;
	padding: 20px 0;
	transition: .5s all;
}

nav .navbar-brand{
	font-size: 30px;
	color: #fff;
	margin-left: 15px;
}

nav .navbar-nav li a{
	color: rgba(255, 255, 255, 0.8) !important;
	font-size: 16px;
	letter-spacing: 0.05em;
	font-weight: 600;
	font-family: 'Nunito', sans-serif;
}

nav .navbar-nav li{
	margin-left: 15px;
}

nav.r-nav.stickyadd{
	background: #fff !important;
	padding: 15px 0;
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
	transition: .5s all ease-in-out;
}

nav.stickyadd .navbar-brand{
	color:  #000;
	font-size: 40px;
	transition: .5s all;
}

nav.stickyadd .navbar-nav .nav-link{
	color: #000 !important;
}

.navbar .hamburger{
	color: #fff;
}

nav.stickyadd .hamburger{
	color: #000;
}

/* Header Section */
header{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/hero-bg.jpg');
	background-repeat: ;
	background-size: cover;
	background-position: center;
}

.header-content{
	height:  100vh;
	display: flex;
	flex-direction: coloum;
	align-items: center;
	justify-content: center;
}

.content-box{
	max-width: 700px;
	color:  #fff;
}

.content-box h4{
	font-size:  30px;
}

.content-box h1{
	font-size: 52px;
}

.content-box a{
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 20px;
	padding: 5px 25px;
}

.content-box a:hover{
	color: #000;
	background: #fff;
	transition: 0.5s all;
}

.content-box p{
	color: #fff;
}

/* About Us */
.about li a{
	color: #000;
	display: inline-block;
	height: 42px;
	width: 42px;
	font-size: 20px;
	border: 2px solid #d4d4d4;
	border-radius: 50px;
	line-height: 40px;
	transition: 0.5s all;
	text-align: center;
}

.about li a:hover{
	color: #EE8683;
}

/* Experience Section */

.exp-class{
	margin-bottom: 80px;
}
.exp-plan .progress{
	height: 10px;
	border-radius: 20px;
	font-size: 10px;
}

.progress-bar{
	background-color: #EE8683 !important;
}

.exp-class label{
	font-size: 20px;
	margin: 10px;
/*	margin-bottom: ;*/
}

/* Service Section */
.card,.card-header{
	background: #F8F9FA !important;
}

.card-header{
	border: none !important;
}

.services-class .card-header i{
	font-size: 50px;
}

.service-border{
	height: 2px;
	width: 40px;
	margin: 15px auto;
	background: #e65f78;
}

.img-movie{
	border-radius: 8px;
}

/* Pagination */
.pagination {
  display: inline-block;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

/* Pagination */
.simple-pagination ul{
    padding: 0;
    list-style: none;
    text-align: center;
    margin-left: 10px;
}

.simple-pagination li{
    display: inline-block;
    margin: 2px;
}

.simple-pagination li a, .simple-pagination li span{
    display: block;
    width: 40px;
    height: 40px;
/*    line-height: 40px;*/
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: #252525;
    border-radius: 4px;
    margin: 5px;
    box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.5);
    transition: all 1s ease;
}

.simple-pagination li a:hover{
    background: #000;
    color: white;
}

.simple-pagination .current{
    color: #fff;
    background-color: #000;
    border-color: rgba(255,255,255);
    border: 1px solid;
    cursor: pointer;
}

.simple-pagination .prev.current, .simple-pagination .next.current {
    background: #000;
    border: auto;
    margin: auto;
}

/* Form */
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-family: 'Monserrat', sans-serif;
}